@use '@/assets/styles/mixin.scss' as * ;
@use "sass:list";




.footer {
  padding: 4rem 0 3rem;
  @include wideBg(var(--accent));
  color: var(--white);
  @media (min-width: $tab) {
    padding: 6rem 0 3rem;
  }
  @media (min-width: $desk) {
    padding: 10rem 0 3rem;
    display: grid;
    align-items: center;
  }
  &__img {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background: url("./img/1.jpg") no-repeat center center;
    position: relative;
    z-index: 1;
  }
  &__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }


}
